body {
  font-family : Georgia, serif;
}

ul {
  list-style-type : none;
  width : 600px;
}

li {
  margin : 0;
  padding : 0;
}

img {
  border : 0;
}

li {
  padding : 0.5em 1em 0.5em 1.5em;
}

li.odd {
  background-color : #abbd5e;
}

li.odd a:link, li.odd a:visited {
  color : #69160b;
}

li.even {
  background : url(http://matthewm.boedicker.org/img/shadow6.png) repeat-x;
  border-bottom : 1px solid #d15326;
  padding-left : 2.5em;
}

li.even a:link, li.even a:visited {
  color : #3b5715;
}

a:link, a:visited {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}
